<img style="float: left; margin: 30px 15px 15px 15px;" src="https://pngimage.net/wp-content/uploads/2018/06/logo-iteso-png-5.png" width="300" height="500" /> 
    
    
### <font color='navy'> Simulación de procesos financieros. 

**Nombres:** Ricardo Rodriguez, Doris Gomez, Carlos Ruiz.

**Fecha:** 18 de septiembre del 2020.

**Expediente** : IF722544, IF707135, IF713897.
**Profesor:** Oscar David Jaramillo Zuluaga.

# Tarea 2b: Clase 5


# Github en el cual realizamos el trabajo

https://github.com/D0r1s/Tarea2b_DGomez_RRodriguez_CRuiz/blob/master/Tarea2b_DGomez_RRodriguez_CRuiz.ipynbk

### Tarea 2: Segunda entrega(Usando notebook de jupyter)**
Usando compresión de listas o funciones map o según lo indique, resolver los siguientes ejercicios:

## Ejercicio 1:
1. Imagine una rutina contable utilizada en una librería. Funciona en una lista con sublistas, que se ven así:
![imagen.png](attachment:imagen.png)
Escriba un programa en Python, que devuelve una lista con tuplas de tamaño 2. Cada tupla consiste en el número de pedido y el costo total del pedido. El producto debe aumentarse en 10€ si el valor de la orden es inferior a 100,00 €. 
Escribe un programa Python usando unicamente las funciones **lambda y map**.

`orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]`

In [1]:
### Respuestas planteadas en el ejercicio:
#solucion Ricks
orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]
minimum= 100
totals = list(map(lambda x: x if x[1] >= minimum else (x[0], x[1] + 10), map(lambda x: (x[0],x[2] * x[3]), orders)))
print(totals)

### SOLUCION Doris:

sol1 = list(map(lambda x: (x[0],x[2]*x[3]) if x[2]*x[3] >= 100 else (x[0],x[2]*x[3]+10),orders))
sol1

[('34587', 163.8), ('98762', 284.0), ('77226', 108.85000000000001), ('88112', 84.97)]

[('34587', 163.8),
 ('98762', 284.0),
 ('77226', 108.85000000000001),
 ('88112', 84.97)]

### Respuesta planteada en el ejercicio:
En este ejercicio imprime lo solicitado aumentando 10 únicamente cuando es menor a 100.

## Ejercicio 2:
2. La misma librería, pero esta vez trabajamos en una lista diferente. Las sublistas de nuestras listas se ven así: 
[número de orden, (número de artículo, cantidad, precio por unidad), ... (número de artículo, cantidad, precio por unidad)] 

`orders = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
	       [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
	       [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
           [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]`

Escriba un programa que devuelva una lista de dos tuplas que tengan la información de (número de pedido, cantidad total de pedido). Utilice la función `Reduce`. Recuerde el precio del pedido del producto debe aumentarse en 10€ si el valor de la orden es inferior a 100,00 €.

In [17]:
### Respuestas planteadas en el ejercicio:
#solucion Ricks
from functools import reduce
orders = [ [1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
           [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
           [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
           [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]
minimum_needed = 100
totals = list(map(lambda x: [x[0]] + list(map(lambda y: y[1]*y[2], x[1:])), orders))
totals = list(map(lambda x: [x[0]] + [reduce(lambda a,b: a + b, x[1:])], totals))
totals = list(map(lambda x: x if x[1] >= minimum_needed else (x[0], x[1] + 10), totals))

print (totals)

### SOLUCION Doris:
import numpy as np
R = list(map(lambda x: [x[0]] + list(map(lambda y:y[1]*y[2],x[1:])),orders))
V = np.array(R)
#F = list(map(lambda x: x[2]*x[3],R))
#[R[0]*R[1] for i in R]

[[1, 678.3299999999999], [2, 494.46000000000004], [3, 364.79999999999995], [4, 492.57]]

### Respuesta planteada en el ejercicio:
Como lo solicita  los valores se multiplican y arroja el index y la catidad.

## Ejercicio 3:

3. Resolver los anteriores ejercicios usando pandas (DataFrame)

In [6]:
### Respuestas planteadas en el ejercicio:
#solucion Ricky
import pandas as pd
orders1 = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]
orders2= orders1
s1,s2 =pd.DataFrame(orders1),pd.DataFrame(orders2)


additional = lambda k: k if k>= 100 else k+10
X = s1.iloc[:,2]* s1.iloc[:,3]


s1['Answer']  = X.apply(additional)
print(s1)
######## Solución 3.1 Doris
import pandas as pd
o_1 = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]
o_2 = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]

pd_1 =pd.DataFrame(o_1)
pd_2=pd.DataFrame(o_2)

mas = lambda x: x if x>= 100 else x+10
T = pd_1.iloc[:,2]* pd_1.iloc[:,3]

pd_1['RESPUESTAS doris']  = T.apply(mas)
pd_1

       0                                   1  2      3  Answer
0  34587          Learning Python, Mark Lutz  4  40.95  163.80
1  98762       Programming Python, Mark Lutz  5  56.80  284.00
2  77226       Head First Python, Paul Barry  3  32.95  108.85
3  88112  Einführung in Python3, Bernd Klein  3  24.99   84.97

       0                                   1  2      3  RESPUESTAS doris
0  34587          Learning Python, Mark Lutz  4  40.95            163.80
1  98762       Programming Python, Mark Lutz  5  56.80            284.00
2  77226       Head First Python, Paul Barry  3  32.95            108.85
3  88112  Einführung in Python3, Bernd Klein  3  24.99             84.97

### Respuesta planteada en el ejercicio:
Mismo que el ejercicio pasado pero usando pandas.

## Ejercicio 4:
4. Use filter to eliminate all words that are shorter than 4 letters from a list of words
`list='the notion of a lambda function goes all the way back to the origin of computer science'`

In [8]:
### Respuestas planteadas en el ejercicio:
#solucion Ricks
list1="the notion of a lambda function goes all the way back to the origin of computer science"
words=list1.split()

result= list(filter(lambda p : len(p) < 4, words ))
print(result)

##### SOLUCIÓN DORIS
palabras=list1.split()

SI = list(filter(lambda p : len(p) >= 4, palabras ))
SI

['the', 'of', 'a', 'all', 'the', 'way', 'to', 'the', 'of']

['notion',
 'lambda',
 'function',
 'goes',
 'back',
 'origin',
 'computer',
 'science']

### Respuesta planteada en el ejercicio:
En este ejercicio podemos cambiar de texto y obtener únicamente las palabras que contengan más de 4 letras.

## Ejercicio 5:
5. Use filter to determine the percentage of Fahrenheit temperatures in a list are within the range 32 to 80

In [10]:
### Respuestas planteadas en el ejercicio:
import numpy as np
np.random.seed(55555)
farenheit = np.random.uniform(25,110,30)
print(farenheit)

[ 35.97387961  99.13294268  92.6178302   99.69549478  63.21119535
  73.90387697  95.50028838  99.21476553  36.98251238 101.45813729
 100.5917418   89.38159435  89.52156589  83.8084752   28.37990868
  68.75395211  45.86132067  36.58307493  56.32208365  33.96219302
  45.29071318  74.86289938  66.51091383  88.19316186  94.26635864
  46.83131624 109.60744472 109.68427993  44.55796499  92.84146259]

In [14]:
#solucion Ricks
filtro = list(filter(lambda t: (32  < t  < 80), farenheit))
filtro
## Respuestas Doris
np.random.seed(55555)
temperatures = np.random.uniform(25,110,30)
#print(temperatures)
FUN_T= lambda x: (32  < x  < 80)             
temp_rango = list(filter(FUN_T, temperatures))
X = np.array(temp_rango)
X

array([35.97387961, 63.21119535, 73.90387697, 36.98251238, 68.75395211,
       45.86132067, 36.58307493, 56.32208365, 33.96219302, 45.29071318,
       74.86289938, 66.51091383, 46.83131624, 44.55796499])

### Respuesta planteada en el ejercicio:
Podemos ver cómo nos regresa únicamente los valores de temperatura dentro del rango especificado en el ejercicio.

## Ejercicio 6:
6. Use reduce to find the lower left corner (minimum x and minimum y value) for a list of point locations
> **Hint**: Explore the command `np.minimum.reduce` [link](https://docs.scipy.org/doc/numpy/reference/generated/numpy.ufunc.reduce.html)

In [18]:
### Respuestas planteadas en el ejercicio:
#solucion Ricks
np.random.seed(55555)
xy_minimum = np.random.randint(0,50,[10,3])
print(xy_minimum)

## Respuestas Doris
np.random.seed(55555)
point_xy = np.random.randint(0,101,[30,2])
#print(point_xy)
[X for X in np.minimum.reduce(point_xy)]

[0, 7]

### Respuesta planteada en el ejercicio:
Utilizamos la función que nos sugeriste para poder resolver el ejercicio obteniendo el resultado mostrado arriba.